.chat-main
  .chat-main__group-info
    .chat-main__group-info--test
      = @group.name
      %p.chat-main__group-info--member
        Member:
        - @group.users.each_with_index do |user, i|
          = user.name
    .chat-main__group-info--edit
      =link_to edit_group_path(@group), class: "edit__btn" do
        Edit

  .messages
    = render @messages
    
  -# .chat-main__message-list
  -#   .chat-main__message-list-info
  -#     %p.chat-main__message-list-info--name
  -#       nara
  -#     %p.chat-main__message-list-info--data
  -#       2020/01/17(Fri) 12:05:08
  -#   %p.chat-main__message-list-info--text
  -#     おはよう！
  -#   .chat-main__message-list-info
  -#     %p.chat-main__message-list-info--name
  -#       nara
  -#     %p.chat-main__message-list-info--data
  -#       2020/01/17(Fri) 12:05:08
  -#   %p.chat-main__message-list-info--text
  -#     今日は夜から雨

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'