.side-bar
  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        .icons__btn--edit
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'icon')
        .icon__btn--setting
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: 'icon')


  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .side-bar__group-list--name
            = group.name
          .side-bar__group-list--message
            = group.show_last_message